<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
   
  </div>
</nav>
<div class="shura">
  <button class="robot-option" routerLink="alenu" routerLinkActive="active-link">?הסבר על האתר</button>
  <button class="robot-option" routerLink="talpen" routerLinkActive="active-link">צור קשר</button>
  <button class="robot-option" routerLink="fidback" routerLinkActive="active-link">שתף אותנו</button>
  <button class="robot-option" routerLink="cart" routerLinkActive="active-link">הסל שלך</button>
  <button class="robot-option" routerLink="" routerLinkActive="active-link">דף הבית</button>
</div>
<router-outlet></router-outlet>




<router-outlet></router-outlet>