.shopping-cart {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .shopping-cart h2 {
    text-align: center;
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .robot-name {
    font-weight: bold;
    color: #007bff;
  }
  
  .robot-color {
    color: #666;
  }
  
  .delete-button {
    /* background-color: black; */
    border: 2px solid #b91f22;
    border-radius: 10px;
    padding: 15px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: popIn 0.5s forwards;
  }
  
  .delete-button:hover {
    color: #f2300e;
    transform: scale(1.15);

  }
  .robot-option {
    /* background-color:black; */
    border: 2px solid #03342a;
    border-radius: 10px;
    padding: 15px;
    width: 150px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: popIn 0.5s forwards;
  }
  
  .robot-option:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 255, 204, 0.5);
  }

  .robot-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }