
<div class="container mt-3">
    <form class="was-validated" #myForm="ngForm">
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" id="name" placeholder="הכנס שם" name="name" required
                #validName="ngModel" [(ngModel)]="newUser.name" pattern="([א-ת]+ [א-ת]{2,7}|[A-Z]{1}[a-z]+)">
                @if( validName.invalid && (validName.touched || validName.dirty)){
                        <p [hidden]="!validName.errors!['required']">שדה חובה</p>
                        <p [hidden]="!validName.errors!['pattern']"> שם לא תקין</p>}
            </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="הכנס כתובת מייל " name="email" 
                [(ngModel)]="newUser.email" #validMail="ngModel" pattern="[A-Za-z.0-9]+@(gmail.com|co.il|net)">
                @if( validMail.invalid && (validMail.touched || validMail.dirty)){
                    <p [hidden]="!validMail.errors!['required']">שדה חובה</p>
                    <p [hidden]="!validMail.errors!['pattern']">מייל לא תקין</p>}
        </div>
        <button type="submit" class="form-control" (click)="login()" [disabled]="!myForm.valid">אישור</button>
    </form>
    
    <router-outlet></router-outlet> 
</div> 

<h1>{{ u?.name }}</h1>
<h1>{{ u?.email }}</h1>
<p>{{ u?.phone }}</p>