<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>נגישות</title>
</head>
<body>

    <p class="intro-text">
        נגישות עבור כולם
        בברכתך, אנו מחויבים לספק פתרונות טכנולוגיים מתקדמים לכלל הקהל, כולל אנשים עם מוגבלויות. כחלק מהמחויבות שלנו לנגישות, כל הרובוטים שלנו מעוצבים עם דגש על נוחות ושימושיות עבור כולם.
        אייקון נגישות
        כחלק מהמאמץ להנגיש את המידע והשירותים שלנו, אנו גאים להציג את אייקון הכסא הגלגלים. אייקון זה מסמל את מחויבותנו להבטיח שכל אחד יוכל ליהנות מההזדמנויות שהטכנולוגיה שלנו מציעה.
        פתרונות מותאמים אישית
        בין אם אתם זקוקים לרובוטים לשימוש בבית, בעסק או בכל סביבה אחרת, אנו מתאימים את הפתרונות שלנו לצרכים שלכם. אנו מציעים מגוון רחב של אפשרויות, כולל ממשקים ידידותיים למשתמש ויכולות מיוחדות להקל על השימוש.
        צוות מומחים
        הצוות שלנו כולל מומחים בתחום הנגישות והטכנולוגיה, שמסייעים לנו להבטיח שהמוצרים שלנו לא רק יהיו חדשניים, אלא גם נגישים לכל. אנו נשמח לשמוע את ההצעות שלכם ולשפר את המוצרים שלנו בהתאם לצרכים שלכם.
        צרו קשר
        אם יש לכם שאלות נוספות או אם אתם זקוקים לעזרה, אל תהססו לפנות אלינו. אנו כאן כדי לעזור ולוודא שהטכנולוגיה שלנו נגישה ונוחה לשימוש עבור כולם.
        
            </p>

    <a href="contact" class="button">ליצירת קשר</a> <!-- כפתור קריאה לפעולה -->

</body>
</html>
