/public
# Angular build output
/dist
/tmp
/out-tsc

# Node modules
/node_modules

# Logs
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace

# Environment files
*.env

# Coverage
/coverage

# Miscellaneous
/.angular/cache
.sass-cache/
connect.lock

# System files
.DS_Store
Thumbs.db
