<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>רובוטים חכמים</title>
</head>
<body>

    <h1>"ברוכים הבאים ל"רובוטים חכמים</h1>
    <p class="intro-text">
        ברוכים הבאים לדף "צור קשר" של "רובוטים חכמים"! אנו כאן כדי לענות על כל שאלה, בקשה או רעיון שיש לך. אנחנו מאמינים שהתקשרות קלה ונוחה היא חלק בלתי נפרד מחוויית הלקוח שלנו, ולכן מציעים מגוון דרכים ליצור איתנו קשר:
        1.	טלפון: אתה מוזמן להתקשר אלינו במהלך שעות הפעילות ב- (מספר הטלפון שלך). אנו כאן כדי לעזור ולספק לך את המידע שאתה זקוק לו.
        2.	דואר אלקטרוני: שלח לנו מייל לכתובת (כתובת הדוא"ל שלך) ואנחנו נענה לך בהקדם האפשרי.
        3.	צ'אט חי: ניתן להשתמש בצ'אט החי באתר שלנו, שמופיע בפינה התחתונה של המסך. אנחנו כאן לשוחח ולעזור לך בזמן אמת!
        4.	רשתות חברתיות: עקוב אחרינו בפייסבוק, אינסטגרם ולינקדאין! תוכל לשלוח לנו הודעות דרך הפלטפורמות החברתיות וגם להתעדכן בכל החדשות והמבצעים שלנו.
        5.	טופס יצירת קשר: מלא את הטופס הממוקם למטה בדף זה, ואנחנו נחזור אליך תוך זמן קצר.
        6.	כתובת הפיזית שלנו: רוצה לבוא לבקר? אתה מוזמן להגיע למשרדינו בכתובת (כתובת המשרד שלך) ואנחנו נשמח לקבל את פניך.
        אנו כאן בשבילך, בכל דרך שתבחר! אל תהסס לפנות אלינו עם כל שאלה או בקשה. התשובות שלך חשובות לנו, ונשמח לעמוד לשירותך!
            </p>

    <a href="gallery" class="button">חקור את הקטלוג שלנו</a> <!-- כפתור קריאה לפעולה -->

</body>
</html>
