<div class="robot-gallery">
  <h2 class="gallery-title">...גלרית הרובוטים שלנו</h2>
  <p class="intro-text">
    גלה את המגוון הרחב של רובוטים שאנחנו יכולים ליצור עבורך. בחר את החומרה המושלמת, הוסף את התכונות שאתה רוצה
    ותן לנו לעצב עבורך רובוט ייחודי שמתאים לצרכים האישיים שלך.
  </p>
  
  <div class="filters">
    <select class="robot-option" [(ngModel)]="material">
      <option key="1">?ממה אני עשוי</option>
      @for(m of uniqueMaterials;track m) {
        <option>{{ m }}</option>
      }
    </select>

    <input class="robot-option" type="number" [(ngModel)]="price" placeholder="הכנס מחיר" />

    <button class="robot-option" (click)="cancle()">בטל סינון <i class="fa-solid fa-times"></i></button>
    <button class="robot-option" (click)="sort()">מיין לפי מחיר <i class="fa-solid fa-dollar-sign"></i></button>
    <button class="robot-option" (click)="filterByMaterial(material, price !== null ? price.toString() : '')">
      סנן <i class="fa-solid fa-search"></i>
    </button>
  </div>

  <div class="robot-cards">
    @for(r of allR;track r) {
      <div class="robot-card" (click)="more(r)">
        <h3 class="robot--">{{ r.name }}</h3>
        <h5 class="robot--">{{ r.description }}</h5>
        <img [src]='r.image'>
        <p class="robot--">{{ r.price | currency }}</p>
        <button class="robot-option" (click)="more(r)">מידע נוסף</button>
      </div>
    }
  </div>

  <p class="footer-text">
    כל רובוט שאנחנו מייצרים מותאם אישית עבורך. צור את הרובוט של חלומותיך כאן ועכשיו!
  </p>
</div>
